langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain_huggingface
sentence-transformers
pydantic
pypdf
beautifulsoup4
langchain-text-splitters
chromadb
arxiv==1.4.7
pymupdf
streamlit
tavily-python
openai
aiohttp
pandas
numpy
html5lib
pytest
langsmith
lxml